body {
    background-image: url("images/garden.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#crate {
    display: block;
    height: 300px;
    background-image: url('images/wooden-crate.webp');
    background-size: contain;
    background-repeat: no-repeat;
}

.part {
    position: absolute;
    left: 150px;
    top: 40px;
}

#reset {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 60px;
}

#play {
    position: absolute;
    height: 70px;
    padding: 5px;
    top: 162px;
    right: 125px;
}

#switch {
    position: absolute;
    height: 70px;
    padding: 5px;
    top: 162px;
    right: 10px;
}

.playSwitch {
    height: 100%;
    width: 100%;
}

button {
    border: 5px solid green;
    border-radius: 20px;
    background-color: limegreen;

}

#reset {
    padding: 10px;
}

#sound {
    border: 5px solid green;
    border-radius: 20px;
    padding: 5px 10px;
    width: 156px;
    font-size: larger;
    text-align: center;
    position: absolute;
    top: 120px;
    right: 10px;
}