body {
    background-image: url("images/garden.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

#crate {
    display: block;
    height: 300px;
    background-image: url('images/wooden-crate.webp');
    background-size: contain;
    background-repeat: no-repeat;
}

.part {
    position: absolute;
    left: 150px;
    top: 40px;
}

#reset {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 3em;
    border: 5px solid green;
    border-radius: 20px;
    background-color: limegreen;
    padding: 10px;
}